@media screen and (max-width: 767px) {
    .Sidebar {
        display: none !important;
    }
}

.CardButton {
    height: 40px;
    border: 1px solid white;
    background-color:transparent;
    color: white;
}

.CardButton:hover {
    background-color: #0E1B30;
    border: 1px solid #0E1B30;
}
